*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
  --textColor: rgba(0,0,0,.44);
  --mainTextColor: rgba(0,0,0,.70);
  --textFontWeight:500;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.hr{
  border-bottom:1px solid #f0f0f0;
  
}
.links{
  text-decoration: none;
  color: inherit;
}